<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MiseEnPlace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>736D7EC31BA4B38400CD1FF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>736D7ED71BA4B38500CD1FF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>736D7EF71BA4BC8D00CD1FF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>736D7F081BA4BD1C00CD1FF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
